server:
  port: 0

spring:
  application:
    name: ms-reports
  config:
    import: "optional:configserver:http://config-server:8888"
  cloud:
    config:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.uuid}

management:
  endpoints:
    web:
      exposure:
        include: health,info
