apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: toolrent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: fergusone/eureka-server:1.0.0
          ports:
            - containerPort: 8761
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8761
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8761
            initialDelaySeconds: 60
            periodSeconds: 30
---
# Service ClusterIP para comunicacion interna
apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: toolrent
spec:
  type: ClusterIP
  selector:
    app: eureka-server
  ports:
    - port: 8761
      targetPort: 8761
---
# Service NodePort para acceso externo al Dashboard
apiVersion: v1
kind: Service
metadata:
  name: eureka-server-external
  namespace: toolrent
spec:
  type: NodePort
  selector:
    app: eureka-server
  ports:
    - port: 8761
      targetPort: 8761
      nodePort: 30761
